.close_buton_plugin {
    visibility: visible !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

/* style.css */
.slackmod-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* start transparent */
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition:
        background-color 0.3s ease,
        opacity 0.3s ease;
}

.slackmod-overlay.open {
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
    pointer-events: auto;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.install-message {
    animation: slideIn 0.3s ease-in-out;
}
